# Ignore the virtual environment folder
venv/

# Ignore Node.js modules and build artifacts in the "client" folder
client/node_modules/
client/build/
client/dist/
client/*.log

# Ignore Python bytecode files and cache in the "flask-server" folder
flask-server/__pycache__/
flask-server/*.pyc

# Ignore environment-specific configuration files
.env

# Ignore development and editor-specific files
.DS_Store
.vscode/
*.swp

# Ignore dependencies in both frontend and backend
client/package-lock.json
client/yarn.lock
